$gutter: 20px;

.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 0.5*$gutter;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #555;
  border: 1px solid #666;
  border-radius: 4px;
  align-items: center;

  &:hover {
    color: #eee;
    background-color: #333;
    transition: background-color 500ms linear, color 500ms linear;
    transition-timing-function: ease;
  }

  &--small {
    max-width: 60px;
    padding: 0;
    border-style: none;
  }

  &--medium {
    max-width: 128px;
  }

  &--large {
    max-width: 256px;
  }

  &--smallum {
    max-width: 60px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0);
    }

  }
}
