$gutter: 20px;

nav {
  width: 100%;
  padding: 0.4*$gutter 0.4*$gutter;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  height: 20*$gutter;
  padding: $gutter;
}

.header-index {
  display: flex;
  justify-content: center;
  background: no-repeat fixed;
  background-image: url("bg.jpg");
  background-position: 99% 99%;
  background-size: cover;
}

.header-subpage {
  color: #fff;
  background: no-repeat fixed;
  background-image: url("bg-subpage.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.banner {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
