.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #555;
  border: 1px solid #666;
  border-radius: 4px;
  align-items: center; }
  .button:hover {
    color: #eee;
    background-color: #333;
    transition: background-color 500ms linear, color 500ms linear;
    transition-timing-function: ease; }
  .button--small {
    max-width: 60px;
    padding: 0;
    border-style: none; }
  .button--medium {
    max-width: 128px; }
  .button--large {
    max-width: 256px; }
  .button--smallum {
    max-width: 60px;
    padding: 0;
    background-color: transparent;
    border-style: none; }
    .button--smallum:hover {
      background-color: transparent; }
main {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px; }

em {
  font-style: italic;
  font-weight: bold; }

div.reviews {
  display: block;
  text-align: center; }

div.center {
  text-align: center; }

img.center {
  display: block;
  text-align: center; }
>>>>>>> 8f124c7c5454f0f785bb6c16fe5229dcb881057a
